{{ define "chat.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}

<div class="max-w-lg mx-auto">
    <div class="mb-1 px-2 py-2 rounded">
        <a class="underline" href="/chat/list">Back to chat list</a>
    </div>
    <div class="mb-5 text-xl bg-slate-100 px-2 py-2 rounded">
        <div>Chat with 
            {{ if .Chat.IsGroup }}
            <span class="font-bold">{{ range $i, $e := .Chat.Members }}{{if $i}}, {{end}}<a href="/{{$e.Username}}">{{$e.Username}}</a>{{ end }}
            </span>
            {{ else }}
            <span class="font-bold"><a href="/{{ .Chat.Recipient.Username }}">{{ .Chat.Recipient.Username }}</a></span>
            {{ end }}
        </div>
    </div>
    <div class="">
        <div>
        {{if .Problems}}
            <h1>Problems</h1>
            <ul class="prose">
            {{ range .Problems }}
            <li>{{ . }}</li>
            {{ end }}
            </ul>
        {{end}}
    </div>

    {{ range .Messages }}
    <div class="flex mb-8">
        <div class="w-16">
            {{ if .Avatar.Valid }}
                <a class="underline text-blue-400" href="/{{ .Username }}"><img class="rounded-full w-12 mr-2" src="https://aiart.nyc3.digitaloceanspaces.com/images/{{ .Avatar.String }}-100-c"></a>
            {{ else }}
                <a class="underline text-blue-400" href="/{{ .Username }}"><img class="rounded-full w-6 h-6 mr-2" src="/public/images/nophoto2.jpg"></a>
            {{ end }}
        </div>
        <div class="flex-1">
            <div class="space-x-0.5 ">
                <span class="font-bold"><a class="" href="/{{ .Username }}">{{ .FullName }}</a></span>
                <span class="text-gray-400">@{{ .Username }}</span>
                <span class="text-gray-400">·</span>
                <span class="text-gray-400">{{ .CreatedAtPretty }}</span>
            </div>
            {{ .Body }}
        </div>
    </div>
    {{ end}}

    <div class="flex">
        <div class="w-16">
            {{ if .MyBrief.PhotoUUID.Valid }}
                <a class="underline text-blue-400" href="/{{ .MyBrief.Username }}"><img class="rounded-full w-12 mr-2" src="https://aiart.nyc3.digitaloceanspaces.com/images/{{ .MyBrief.PhotoUUID.String }}-100-c"></a>
            {{ else }}
                <a class="underline text-blue-400" href="/{{ .MyBrief.Username }}"><img class="rounded-full w-6 h-6 mr-2" src="/public/images/nophoto2.jpg"></a>
            {{ end }}
        </div>
        <div class="flex-1">

            <form method="POST" action="/chat/send">
                <label class="block pb-4">
                    <textarea 
                    type="text" 
                    name="body" 
                    placeholder="Send message"
                    class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 
                    rounded-md text-sm shadow-sm placeholder-slate-400 h-36"
                    /></textarea>
                </label>

                <input type="hidden" name="chat" value="{{ .Chat.ID }}" />
                <input type="submit" value="Send" class="py-2 px-4 text-white no-underline bg-lime-500 rounded font-bold hover:bg-lime-700">
            </form>
        </div>
    </div>
</div>
</div>



{{ template "footer.tmpl" }}
{{ end }}