{{ define "collection_edit.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}

<div class="max-w-screen-2xl mx-auto">
<h1>Edit Collection</h1>


<form method="POST" action="/collection/edit">

    <label class="block pb-4">
        <span class="block text-sm font-medium text-slate-700">Name</span>
        <input type="text" name="name" value="{{ .Collection.Name }}" required class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
    </label>

    <label class="block pb-4">
        <span class="block text-sm font-medium text-slate-700">Description</span>
        <textarea type="text" name="description" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>{{ if .Collection.Description.Valid }}{{ .Collection.Description.String }}{{ end }}</textarea>
    </label>

    <label class="block pb-4">
        <span class="block text-sm font-medium text-slate-700">Public?</span>
        <input type="radio" id="1" {{ if .Collection.IsPublic }}checked{{ end }} name="is-public" value="1"> Yes
        <br />
        <input type="radio" id="0" {{ if not .Collection.IsPublic }}checked{{ end }} name="is-public" value="0"> No
    </label>

    <br>

    <input type="hidden" name="collection-id" value="{{ .Collection.ID }}" />

    <input type="submit" value="Update" class="py-2 px-4 my-4 text-white no-underline bg-lime-500 rounded font-bold hover:bg-lime-700">
</form>


<a href="/collection/delete?collection={{ .Collection.ID }}"
class="inline-flex items-center py-2 px-4 m-2 text-white no-underline bg-gray-500 rounded font-bold hover:bg-lime-700">Delete</a>

</div>

{{ template "footer.tmpl" }}
{{ end }}