{{ define "collections.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}
{{ template "profile_header.tmpl" . }}

<div class="container mx-auto">




{{ if .UserSession.IsAuthenticated }}
{{ if eq .UserSession.UserID .Profile.UserID}}
<a class="inline-flex 
        items-center py-2 px-4 m-2 
        text-white no-underline bg-lime-500 
        rounded font-bold 
        hover:bg-lime-700" href="/collection/new">New Collection</a>
{{ end }}
{{ end }}

{{ range .Collections }}
<div class="mb-4 px-2 py-2 border">
    <a class="underline text-green-400" href="/{{ $.Profile.Username }}/collections/{{ .ID }}">{{ .Name }}</a>
    {{ if .Description.Valid }}
    {{ .Description.String }}
    {{ end }}
    {{ if .IsPublic }}
    PUBLIC
    {{ else }}
    PRIVATE
    {{ end }}
    {{ if $.SaveMode }}
        <a class="underline text-green-300" href="/collection/save?piece={{ $.Piece.ImageUUID }}&collection={{ .ID }}">Save</a>
    {{ end }}
</div>
{{ end }}

</div>

{{ template "footer.tmpl" }}
{{ end }}