{{ define "email_verification_sent.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}

<h1>Verify email</h1>

Verification email sent. Check your email inbox!

{{ template "footer.tmpl" }}
{{ end }}