{{ define "forgot_password.tmpl" }}
{{ template "head.tmpl"  }}
{{ template "header.tmpl"  }}

<div class="container mx-auto">

    <h1 class="font-bold text-xl text-pink-400 mb-4">Forgot Password</h1>

    <div class="error">
    {{if .Error}}
        {{ .Error }}
    {{end}}
    </div>

    {{ if .Success }}
    <div class="text-xl font-bold text-purple-400">Reset email sent!</div>
    {{ else }}
    <form action="/forgot-password" method="POST">
        <p>
            <label>What is your email address?</label>
            <br />
            <input type="text"  name="email" placeholder="Email">
        </p>
        <button type="submit" class="bg-green-400 py-2 px-2 rounded text-white font-bold mt-4">Submit</button>
    </form>
    {{ end }}
    


</div>



{{ template "footer.tmpl" }}
{{ end }}