
{{ define "fresh.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}

<div class="container max-w-lg mx-auto text-gray-500">
    <h1 class="font-bold text-lg text-pink-500">Welcome to Promptist!</h1>
    
    <h2 class="text-gray-800 font-bold mt-3">1</h2>
    <div>This site is brand new! It got started in September of 2022. There is still a lot of work that needs to be done, but the basic structure is complete. We have a lot of ideas and features we are going to implement in the future.</div>
    
    <h2 class="text-gray-800 font-bold mt-3">2</h2>
    <div>Once again, this site is brand new! Meaning there will probably be some bugs and glitches. If you have find any or have any requests please contact me in <a class="underline" href="https://discord.gg/WcXPatW9sY">Discord</a>.</div>
    
    <h2 class="text-gray-800 font-bold mt-3">3</h2>
    <div>And one more time, this site is brand new :D So there aren't many members in the database right now. So if you would please tell everyone you know! Share your profile with people. Post it in your signatures, on your socialz, on Linktree, everywhere!</div>
</div>

{{ template "footer.tmpl" }}
{{ end }}

