{{ define "new_player.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}


<div class="max-w-2xl mx-auto"><center><img width="300" src="/public/images/hi.png" /></center></div>

<div class="max-w-2xl mx-auto">
    <h1 class="text-2xl font-bold py-4">A New Player has Entered the Game</h1>

 
    <p class="mb-2">Welcome to <b>Promptist</b>! </p>
     
    <p class="mb-2">First things first, we're just getting the site off the ground. So there might be some bugs here and there. If you find anything out of whack, please let us know in the <a class="underline" href="/forums">forums</a> or in <a class="underline" href="/discord">Discord</a>!</p>
    
    <p class="mb-2">Next, <b>thanks</b> for joining! We're trying to build a cool commnunity here for generative artists, and we love to welcome newcomers! We're in fact rewarding our pioneers, which includes you. You can see the perks that gets you on the <a class="underline text-fuchsia-400" href="/pioneers">Pioneer Page</a>.</p>
    
    <p class="mb-2">If you could <a class="underline font-bold text-orange-400" href="/upload">upload a few pieces of art</a> and make sure everything works, and then come say <em>hi</em>  <a class="underline text-fuchsia-400" href="/forums/newbie">in the newbie forums</a>. We would love to hear what else you would like to see on the site.</p>




       
</div>





{{ template "footer.tmpl" }}
{{ end }}