{{ define "pro.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}

<div class="max-w-2xl mx-auto">
    
    <div class="mb-6">
        <h1 class="text-2xl font-bold">Pro</h1>
        Check back soon for more information about <b>Promptist Pro</b>.
    </div>

 
    

       
</div>





{{ template "footer.tmpl" }}
{{ end }}