{{ define "profile_list.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}


<div class="container mx-auto">
    <h1 class="text-4xl mb-4">Profiles</h1>
    
    <ul>
    {{ range .Profiles }}
        <li><a class="underline" href="/people/{{ .Username }}">{{ .FullName }}</a></li>
    {{ end }}
    </ul>
   
</div>


{{ template "footer.tmpl" }}
{{ end }}