
{{ define "rules.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}

<div class="container mx-auto max-w-lg">
  
These rules apply to every area of Promptist.
<br /><br />
[1] Absolutely NO FLAMING OR NAME CALLING. Mutual respect and civilized conversation is the required norm. Please keep profanity and gratuitously inflammatory language to a minimum. Personal attacks will not be tolerated on Promptist.
<br /><br />
[2] NO SPAM. Spamming unsolicited advertisements anywhere on Promptist will get you banned.
<br /><br />
[3] There is no rule 3.
<br /><br />
[4] NO PORNOGRAPHY! We would like to keep Promptist a "work-safe" environment. No pornographic, sexually offensive, sexually explicit, or objectifying material. This includes linking to such material. Moderator's judgment applies here.
<br /><br />
[5] AVATAR. Again, we would like to keep Promptist a "work-safe" environment. And since your avatar is open to the public, nudity or any other obscene material ("bloodwork", bondage, etc) is not allowed. If you are unsure if your avatar is acceptable, change it. Simple as that. Moderator's judgment applies here.
<br /><br />
[6] Observe all COPYRIGHT LAWS, TOS's and NDA's when posting copyrighted material. If the material belongs to someone else, credit the original author. Do not post messages that violate Federal, State, or Local laws which include, but are not limited to, anything that violates a copyright, trademark, patent, trade secret, or is bound by NDA (Non-Disclosure Agreement).
<br /><br />
[7] Do not post PERSONAL INFORMATION (i.e. addresses, phone numbers, passwords, personal identification numbers, images) or any other information considered private without the express permission of the individual. You must respect the privacy of other members.
<br /><br />
[8] You will not discuss, suggest, engage, or encourage any ILLEGAL ACTIVITIES. Links provided to locations that deal with any such activity are also expressly forbidden.
<br /><br />
[9] MEMBER DISPUTES. You are solely responsible for your interactions with other members. Promptist reserves the right, but has no obligation, to monitor disputes between you and other Members.
<br /><br />
Breaking any of the above listed rules can result in the loss of privileges and possible loss of your account. Promptist also reserves the right to ban any user, at any time, and for any reason.
<br /><br />
Promptist takes no responsibility for the content of any of the messages posted on the website or the authenticity of its authors.
<br /><br />
All opinions and views expressed on Promptist are solely those of their respective authors and are not necessarily those of Promptist or its representatives.
<br /><br />
Promptist reserves the right to change the aforementioned rules at any time without warning or notice.
<br /><br />
It is the responsibility of the member to check this page on a regular basis for any revisions in Promptist rules before making any posts to the website.
<br /><br />
By joining Promptist, you agree to abide by the above rules and terms. 

</div>

{{ template "footer.tmpl" }}
{{ end }}

