{{ define "search.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}



<div class="container mx-auto">

    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/search" method="GET">
        
       
            
        <div class="flex space-x-4">
            <input 
            class="shadow appearance-none border rounded py-2 px-3 text-gray-700 w-1/2 leading-tight focus:outline-none focus:shadow-outline" 
            name="q" 
            type="text" 
            value="{{.Query}}"
            placeholder="Search"
            >
            
        <button class="bg-lime-500 hover:bg-lime-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Search
        </button>
      
        </div>
    </form>

</div>


<div class="container mx-auto">
    <div class="mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {{ range .Pieces }}
        <div class="mb-2">
          <a class="" href="/art/{{ .ImageUUID }}"><img class="w-full aspect-square" src="https://aiart.nyc3.digitaloceanspaces.com/images/{{ .ImageUUID }}-400-c"></a>

          <div class="flex justify-between items-center text-sm font-sans">

            <div class="flex items-center py-2">
              {{ if .ProfilePhotoUUID.Valid }}
                  <a class="underline text-blue-400" href="/{{ .Username }}"><img class="rounded-full w-6 mr-2" src="https://aiart.nyc3.digitaloceanspaces.com/images/{{ .ProfilePhotoUUID.String }}-100-c"></a>
              {{ else }}
                  <a class="underline text-blue-400" href="/{{ .Username }}"><img class="rounded-full w-6 h-6 mr-2" src="/public/images/nophoto2.jpg"></a>
              {{ end }}
              <a class="font-bold" href="/{{ .Username }}">{{ .FullName }}</a>
          </div>

            <div class="flex space-x-2">
              <div class="flex space-x-0.5">
              <a href="/like/{{ .ImageUUID }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-gray-400 hover:text-pink-500">
                <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z" />
              </svg></a>
              <span class="text-gray-500">{{ .Likes }}</span>
              </div>


              <div class="flex space-x-0.5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-gray-400 hover:text-pink-500">
                <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
              </svg>
              <span class="text-gray-500">{{ .Views }}</span>
            </div>                
              
            </div>
          </div>
        </div>
      {{ end }}
      </div>
</div>


   


{{ template "footer.tmpl" }}
{{ end }}