{{ define "verify_email.tmpl" }}
{{ template "head.tmpl" . }}
{{ template "header.tmpl" . }}


<h1>Verify email</h1>


Click the following link to verify your email:<br /><br />

<a href="send-verification-email">Send verification email</a>

{{ template "footer.tmpl" }}
{{ end }}